*{
  background-color: black;
  color: white;
  padding: 0%;
  margin: 0%;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(38, 37, 37);
}
nav p{
  background: transparent;
}
.homebar{
  display: flex;
.middlelist__music{
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 50px;
}
.card{
    height: 40vh;
    width: 40%;
    min-width: 300px;
}
